body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #060c21;
}

.container {
  position: relative;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 40px 40px;
  grid-template-rows: auto;
}

.container .box {
  position: relative;
  height: 400px;
  background: #060c21;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.container .box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

.container .box:nth-child(1):before {
  background: linear-gradient(315deg, #ff0057, #e64a19);
}

.container .box:nth-child(2):before {
  background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.container .box:nth-child(3):before {
  background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.container .box:nth-child(4):before {
  background: linear-gradient(315deg, #ff0000, #ffc107);
}

.container .box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.content {
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}

.box .content h2 {
  position: absolute;
  top: -60px;
  font-size: 10em;
  right: 20px;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255, 0.05);
  transition: 0.5s;
}

.box:hover .content h2 {
  top: -140px;
}
.box .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.box .content p {
  font-size: 16px;
  margin-top: 10px;
  padding: 0;
  color: #fff;
}

.box .content a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  display: inline-block;
  transition: 0.5s;
  transform: translateY(-40px);
  /* visibility: hidden; */
  opacity: 0;
}

.box:hover .content a {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.box .content a:hover {
  background: #fff;
  color: #000;
}

